<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.liuchad.zhuangbility">

  <!-- 对SD卡进行写的权限 -->
  <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
  <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
  <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
  <uses-permission android:name="android.permission.INTERNET"/>
  <!-- 相机 -->
  <uses-permission android:name="android.permission.CAMERA"/>
  <!-- 闪光灯 -->
  <uses-permission android:name="android.permission.FLASHLIGHT"/>
  <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
  <!-- SDK2.1新增获取用户位置信息 -->
  <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
  <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
  <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS"/>
  <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>
  <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
  <uses-permission android:name="android.permission.GET_TASKS"/>


  <uses-feature android:name="android.hardware.camera"/>
  <uses-feature android:name="android.hardware.camera.autofocus"/>

  <supports-screens
      android:anyDensity="true"
      android:largeScreens="true"
      android:normalScreens="true"
      android:smallScreens="true"/>

  <application
      android:name=".base.App"
      android:allowBackup="true"
      android:icon="@mipmap/ic_launcher"
      android:label="@string/app_name"
      android:largeHeap="true"
      android:persistent="true"
      android:supportsRtl="true"
      android:theme="@style/AppTheme">
    <activity android:name=".ui.NativeAboutActivity"/>
    <activity
        android:name=".ui.MainActivity"
        android:configChanges="orientation|keyboardHidden"
        android:screenOrientation="portrait">
    </activity>
    <activity
        android:name=".ui.SelectPicActivity"
        android:configChanges="orientation|keyboardHidden"
        android:screenOrientation="portrait"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">
    </activity>
    <activity
        android:name=".ui.MultiImageSelectorActivity"
        android:configChanges="orientation|keyboardHidden"
        android:screenOrientation="portrait"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar"/>

    <provider
        android:name="android.support.v4.content.FileProvider"
        android:authorities="com.liuchad.zhuangbility.fileprovider"
        android:exported="false"
        android:grantUriPermissions="true">
      <meta-data
          android:name="android.support.FILE_PROVIDER_PATHS"
          android:resource="@xml/filepaths"/>
    </provider>

    <activity
        android:name=".ui.SplashActivity"
        android:configChanges="orientation|keyboardHidden"
        android:screenOrientation="portrait"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">
      <intent-filter>
        <action android:name="android.intent.action.MAIN"/>

        <category android:name="android.intent.category.LAUNCHER"/>
      </intent-filter>
    </activity>
    <activity
        android:name=".ui.AboutActivity"
        android:configChanges="orientation|keyboardHidden"
        android:screenOrientation="portrait"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">
    </activity>

    <activity android:name=".TestActivity"
        android:configChanges="orientation|keyboardHidden"
        android:screenOrientation="portrait"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">
      <!--<intent-filter>-->
      <!--<action android:name="android.intent.action.MAIN"/>-->

      <!--<category android:name="android.intent.category.LAUNCHER"/>-->
    <!--</intent-filter>-->
    </activity>

    <!-- QQ -->
    <activity
        android:name="com.tencent.tauth.AuthActivity"
        android:launchMode="singleTask"
        android:noHistory="true">
      <intent-filter>
        <action android:name="android.intent.action.VIEW"/>

        <category android:name="android.intent.category.DEFAULT"/>
        <category android:name="android.intent.category.BROWSABLE"/>

        <!-- 这地方的123456需要用你在开放平台申请的appid替换 -->
        <data android:scheme="tencent1105245621"/>
      </intent-filter>
    </activity>
    <activity
        android:name="com.tencent.connect.common.AssistActivity"
        android:configChanges="orientation|keyboardHidden"
        android:screenOrientation="behind"
        android:theme="@android:style/Theme.Translucent.NoTitleBar"/>

    <!-- \QQ -->


    <!-- sina -->
    <activity
        android:name="com.sina.weibo.sdk.component.WeiboSdkBrowser"
        android:configChanges="keyboardHidden|orientation"
        android:exported="false"
        android:windowSoftInputMode="adjustResize">
    </activity>

    <!--<service-->
        <!--android:name="com.sina.weibo.sdk.net.DownloadService"-->
        <!--android:exported="false">-->
    <!--</service>-->

    <!-- \sina -->

    <activity android:name=".share.QQActivity">
    </activity>
    <activity android:name=".share.SinaActivity">

      <!-- 调用新浪原生SDK，需要注册的回调activity -->
      <intent-filter>
        <action android:name="com.sina.weibo.sdk.action.ACTION_SDK_REQ_ACTIVITY"/>

        <category android:name="android.intent.category.DEFAULT"/>
      </intent-filter>
    </activity>
    <!--<activity>-->
        <!--android:name=".wxapi.WXEntryActivity"-->
        <!--android:exported="true">-->
    <!--</activity>-->
    <activity android:name=".share.WxActivity">
    </activity>
    <activity android:name=".ui.HistoryActivity">
    </activity>
  </application>

</manifest>